version: "3"
services:
  fake_api:
    image: jaxgeller/lwan
    volumes:
      - ./../../data:/lwan/wwwroot
    ports:
      - 8000:8080
  krakend:
    image: devopsfaith/krakend:2.0
    volumes:
      - ./krakend.json:/etc/krakend/krakend.json
    command: ["run", "-c", "krakend.json", ">/dev/null 2>&1"]
    ports:
      - 8080:8080
    depends_on:
      - fake_api
